.nav {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    .app-name {
      font-size: 30px;
      font-weight: 500;
      color: #0094e1;
      margin: 0 10px;
    }
  }
}

.airport {
  width: 100%;
  height: 350px;
  position: relative;
  background: #37363682;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-container {
    max-width: 1400px;
    width: 100%;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .item {
      display: flex;
      align-items: center;
      max-width: 300px;
      .label {
        margin-right: 15px;
      }
      .count {
        font-size: 50px;
      }
    }
  }
  div {
    width: 100%;
    position: unset !important;
  }
  img {
    width: 100%;
    height: auto !important;
    mix-blend-mode: multiply;
    position: absolute;
    bottom: -10% !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    min-height: 500px !important;
    z-index: -1;
    max-height: unset !important;
  }
}
